.btn {
    border-radius: 2px;
    padding: 6px 14px;
    margin: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
}

.btn-purple {
    background-color: #7266ba !important;
    border: 1px solid #585BA9 !important;
    color: #D1D2D4 !important;
}