.col-2, .col-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

    .col-2 {
        width: percentage(2/12);
    }

    .col-10 {
        width: percentage(10/12);
    }