body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    font-size: 14px;
    line-height: 1.42857143;
}

h4 {
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color-light;
    margin: 10px 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    clear: both;
}