$purple: #7266ba;
$purple-dark: #585BA9;
$bg: #323b44;

$text-color: #98a6ad;
$text-color-light: #D1D2D4;
$text-danger: #ef5350;
$text-success: #00b19d;

html {
  background-color: $bg;
  min-width: 600px;
}

* {
  outline: none !important;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import 'typography';
@import 'grid';
@import 'buttons';
@import 'forms';